

.container{
    background: url("https://cdn.pixabay.com/photo/2019/10/24/20/48/great-dane-4575323_1280.jpg")  no-repeat center center;
    background-size: 100% 100%;
    padding-top: 10%; 
    padding-bottom: 20%;
}

*{
    color: white;
}

.label{
    margin-right: 2px;
}

.box{
    width: 70%;
}