/* .fotos{
    object-fit: contain;
} */

.fotos img{
    /* height:300px;
    width: 500px; */
    width: 100%;
    overflow: hidden;
    border-radius: 2%;
   
}

.fotos:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

.container{
    display: flex;
    flex-wrap: wrap-reverse;
}