<div class="wrapper">


  <div class="container">
    <div class="card flex-row flex-wrap">
        <div class="card-header border-0 fotos ">
            <img src="{{travel.img}}" alt="">
        </div>
        <div class="card-block px-2">
            <h4 class="card-title">{{travel.destination}} - Travel Details</h4>
            <p class="card-text"><b>Tour plan:</b> <br> {{ travel.description }}</p>
            <p class="card-text"><b>Time schedule:</b> <br> Start at Airport Vienna: {{travel.startDate}} </p>
            <p class= "card-text"><b>Trip duration:</b> <br> {{ travel.duration }}</p>
            <h4 class="card-text">{{ travel.price | currency }}</h4>
            <button class="btn btn-outline-success my-2 my-sm-0" (click)="addToCard(travel)">Add to Travel Cart</button>
            <!-- <button class="btn btn-outline-success my-2 my-sm-0" routerLink='/travels/'>Next adventure</button> or back to travels-->
        </div>
        <div class="w-100"></div>
        <div class="card-footer w-100 text-muted">

        </div>
    </div>
    <br>
</div>
</div>


